<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplication.android.wimervm.appterapias">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".olvido_pass"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Olvido contraseña">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Pantalla_Principal"
            android:label="Terapias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Agregar_Clientes"
            android:label="Agregar Paciente">

        </activity>
    </application>

</manifest>